lable {
    font-weight: 550;
}
.mt-50{
    margin-bottom: .5rem !important;
}
.ml-50 {
    margin-bottom: .5rem !important;
}
.mr-50 {
    margin-bottom: .5rem !important;
}
.mb-50 {
    margin-bottom: .5rem !important;
}

.pt-50 {
    margin-bottom: .5rem !important;
}

.pl-50 {
    margin-bottom: .5rem !important;
}

.pr-50 {
    margin-bottom: .5rem !important;
}

.pb-50 {
    margin-bottom: .5rem !important;
}

.py-50 {
    margin-bottom: .5rem !important;
}

.px-50 {
    margin-bottom: .5rem !important;
}

.my-50 {
    margin-bottom: .5rem !important;
}

.mx-50 {
    margin-bottom: .5rem !important;
}

.text-decoration-underline {
    text-decoration:underline !important;
}
.lang-form select {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .25rem .5rem;
    font-size: 1rem;
}
.activate {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.invalid-feedback {
    font-size: .9rem;
    font-weight: 550;
    text-transform: capitalize;
    margin-bottom: .5rem;
    padding: 0 10px;
}

.img-thumbnail.view-img {
    background-color: #dfdfdf;
    border-color: #ccc;
    width: 300px;
    margin: 2rem auto;
    justify-content: center;
    display: flex;
    height: 250px;
}

.table-img {
    background-color: #ccc;
}

.overflow-x-auto{
    overflow-x: auto !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.overflow-auto {
    overflow: auto !important;
}

.content-trim {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.content-trim {
    max-width: 200px;
}