.lang-form select {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .25rem .5rem;
    font-size: 1rem;
}
.activate {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.invalid-feedback {
    font-size: .9rem;
    font-weight: 550;
    text-transform: capitalize;
    margin-bottom: .5rem;
    padding: 0 10px;
}