################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

*.bin
*.sqlite
*.vsidx
/Luxury_Back/wwwroot/images/uploaded/*
/Luxury_Back/node_modules
/Luxury_Back/.vscode
/Luxury_Back/wwwroot/css/root.css.map
/Luxury_Back/appsettings.Development.json
