.select-lang {
    position: relative;
    img {
        width: 33px;
    }

    ul.dropdown-menu {
        top: 65px;
        max-width: min-content;
        li{
            cursor: pointer;
        }
    }
}

.auth-content{
    .select-lang{
        justify-content: end;
        display: flex;
        @include one_dir(justify-content, start);
        .dropdown-menu{
            @include one_dir(right, auto);
            @include one_dir(left, -70px);
        }
    }
}

.component_siction {
    margin: 1rem 0;
    .title_row {
        h2 {
            text-transform: capitalize;
            font-family: PopB;
            margin-bottom: 1rem;
            @include one_dir(font-family, CairoB);
        }
    }
}

.btn-primary {
    background-color: #0d6efd !important;

    &:hover {
        background-color: #0d67ec !important;
        border-color: #0a58ca;
    }

    color: #fff;
}

.mbsc-calendar-title-wrapper {
    overflow: unset !important;
}

.avatar-online i{
    background-color: transparent !important;
}