
p, span, li, a, small, strong, input, textarea, select, optgroup, button, ::file-selector-button{
    @include dir(font-family, Pop, Cairo, font-family);
}


a, button{
    cursor: pointer;
}
h3 {
    font-family: popB;
    font-weight: 700;
    color: #212529;
}