
body{
    background-color: #fff !important;

}
p, span, li, a, small, strong, input, textarea, select, option, optgroup, button, ::file-selector-button{
    @include dir(font-family, Pop, Cairo, font-family);
    @include dir();
    
}

@for $h from 1 to 7 {
    h#{$h}, .h#{$h}{
        @include dir();
    }
}

a, button{
    cursor: pointer;
}
h3 {
    font-family: popB;
    font-weight: 700;
    color: #212529;
}
section{
    margin: 15px 15px;
}