<div class="container-fluid botfooter">
  <div class="row">
    <div class="col-12 center py-3">
      <button class="text-white" [translate]="'Listprop'">
        List Your Property
      </button>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <a href="" class="col-4 text-white text-center" [translate]="'Contact'"
        >Contact us</a
      >
      <a href="" class="col-4 text-white text-center" [translate]="'Help'"
        >Help</a
      >
      <a href="" class="col-4 text-white text-center" [translate]="'About'"
        >About</a
      >
    </div>
  </div>
</div>
