._top_header_title{
    position: relative;
    h1, p{
        color: #fff;
        font-family: OxyB;
    }
    h1{
        font-family: OxyB;
        font-weight: bolder;
        font-size: calc(1.375rem + 1.5vw);
    }  
}