.contravel {
    a {
        text-decoration: none;

        img {
            margin-bottom: 10px;
        }

        h5 {
            font-family: popB;
            font-weight: 700;
            color: #212529;
        }


        span {
            font-family: pop;
            font-weight: 400;
            color: #6b6b6b;
            display: block;
        }
    }
}
