section {
    .topvisit {
        .imgcontainer {
            position: relative;
            transition: all .5s ease-out;
            overflow: hidden;
            >img {
                width: 100%;
                height: 250px;
            }
            &:hover {
                box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
            }

            h2 {
                color: white !important;
                font-family: popB;
                font-weight: 700;
                top: 10%;
                left: 5%;
                position: absolute;
            }
        }
    }
}
