.botfooter {
  background-color: #003580;
  margin-bottom: 0;
  padding-bottom: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  color: white;
  margin: 0 0 15px 0;
}
button {
  background-color: #003580;
  border-color: white;
  border-radius: 2px;
  padding: 0 15px;
}
