h4 {
  font-family: popB;
  font-weight: 700;
}
p {
  font-family: pop;
  font-weight: 400;
  color: #6b6b6b;
}
.cards {
  position: relative;
}
.btn {
  border-radius: 50%;
  position: absolute;
  top: 32%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pevbtn {
  left: -20px;
}
.nextbtn {
  right: -20px;
}
