<div class="container py-5">
  <h4 [translate]="'ExpEgy'">Explore Egypt</h4>
  <p [translate]="'ExpDes'">These popular destinations have a lot to offer</p>
  <!-- <div class="cards">
    <div class="row d-flex justify-content-between">
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img
            class="mb-3"
            src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
            alt=""
          />
          <h4>Dahab</h4>
          <p>213 properites</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="cards">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div class="row">
          <div class="col-2 d-flex justify-content-between">
            <div>
              <img src="{{ slide.img }}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div class="row">
          <div>
            <h4 ngxSlickItem *ngFor="let text of htext">{{ text.value }}</h4>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button>
  </div> -->

  <!-- <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644365.webp?k=8ad39e2f63737e18f4a59e215d940d628838352c53e1069c8366893d9521d8e6&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644630.webp?k=700ac1d32a3bab480b14db2cba3050abe5b5bce062911dc4f5b3fdc15d81f007&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/691353.webp?k=878cf98fab1232e95def135008bf96a8b3576a24c2aa0d9d6cb9ed828eefefc8&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <div class="card">
            <div class="img-wrapper">
              <img
                src="https://cf.bstatic.com/xdata/images/city/square250/644433.jpg?k=89cfcf202975aed2abbc6e79faf2306142982cf3731e63c006b0226016220e4b&o="
                alt="..."
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<script>
  var carouselWidth = $(".carousel-inner")[0].scrollWidth;
  var cardWidth = $(".carousel-item").width();
  var scrollposition = 0;
  if (scrollposition < carouselWidth - cardWidth * 4) {
    $(".carousel-control-next").on("click", function () {
      scrollposition = scrollposition + cardWidth;
      $(".carousel-inner").animate({ scrollLeft: scrollposition }, 600);
    });
  }
</script> -->

  <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide [id]="slide.img">
        <img [src]="slide.img" />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div>Some tags after</div>
</div>
