@if (User.Identity.IsAuthenticated)
{
    <li class="dropdown dropdown-user nav-item isAuth">
        <a class="dropdown-toggle nav-link dropdown-user-link"
           href="#"
           data-toggle="dropdown">
            @* <span class="mr-1">
                <span class="user-name text-bold-700">@(User.Claims.First(c => c.Type == "name").Value)</span>
            </span>*@
            <span class="avatar avatar-online">
                <i class="la la-user"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" asp-action="Edit" asp-controller="Auth"><i class="ft-user"></i> Edit Profile</a>
            <a class="dropdown-item" href="#"><i class="ft-box"></i> My Booking</a>
            @*<a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a>
            <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>*@
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Logout" asp-controller="Auth"><i class="ft-power"></i> Logout</a>
        </div>
    </li>
}
else
{
    <li class="nav-item my-auto isAuth">
        <a class="nav-link nav-link-label" asp-action="login" asp-controller="auth">
            <button class="btn btn-light">@localizer["login"]</button>
        </a>
    </li>
    <li class="nav-item my-auto isAuth">
        <a class="nav-link nav-link-label" asp-action="Register" asp-controller="auth">
            <button class="btn btn-light">@localizer["register"]</button>
        </a>
    </li>
}