@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="top_search_content container">
    <div class="container">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-relative has-icon-left">
                        <input type="text" id="timesheetinput1" class="form-control" placeholder="employee name"
                        name="employeename">
                        <div class="form-control-position">
                            <i class="la la-map-marker"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="position-relative has-icon-left">
                        <input type="text" id="timesheetinput1" class="form-control" placeholder="employee name"
                        name="employeename">
                        <div class="form-control-position">
                            <i class="la la-calendar-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dropdown capcity">
                        <a id="toggle_menu" class="dropdown-toggle" href="#" data-menu="search_menu" role="button" aria-expanded="false">
                            Dropdown link
                        </a>

                        <ul class="toggle_menu w-100">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-primary text-center text-capitalize fw-550">بحث</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>