@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="top_search_content container">
    <div class="container">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="@localizer["whereGoing"]">
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="@localizer["check_in_out"]">
                </div>
                <div class="col-lg-3">
                    <div class="capcity">
                        <div class="dropdown">

                          <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                          </a>

                          <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-lg bd-btn-lg btn-primary text-center text-capitalize fw-550">بحث</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>