<div class="container">
  <nav class="nav-bottom nav py-4">
    <ul class="nav d-flex px-0">
      <li class="nav-item active pb-2">
        <a class="nav-link" href="#" [translate]="'Home'">Home</a>
      </li>
      <li class="nav-item pb-2">
        <a class="nav-link" href="#" [translate]="'Contact'">Contact Us</a>
      </li>
      <li class="nav-item pb-2">
        <a class="nav-link" href="#" [translate]="'Help'">Help</a>
      </li>
      <li class="nav-item pb-2">
        <a class="nav-link" href="#" [translate]="'About'">About Us</a>
      </li>
    </ul>
  </nav>
  <title-header></title-header>
</div>
