<section class="component_siction py-1 _guests_love">
    <div class="container">
        <div class="row title_row my-4">
            <h2 class="h2">
                Homes guests love
            </h2>
        </div>
        <div class="row content">
            <div class="col-lg-3 col-md-6 col-12 p-md-0">
                <div class="card">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/square600/123801934.webp?k=27073a18101dd5a4eefc76251f7d476be72e19ed03e98819f2d94667dd60f31a&o=&s=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                          <h5 class="card-title text_align">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text">
                              <small class="text-muted">Night Cost: <b>EGP 5000</b></small>
                          </p>
                          <p class="card-text reviews">
                            <span>0.9</span>
                            <b>Very Good</b>
                            <small>   </small>
                            <small>200 reviews</small>
                          </p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>