<div class="_top_header_title mb-3 py-3">
    <div class="container">
        <div class="mb-5 py-3">
            <h1 class="h1"> @localizer["Find your next stay"]</h1>
            <p> @localizer["paragraph"] </p>
        </div>
    </div>
    <partial name="~/Areas/Root/Views/Shared/_Search_top.cshtml" />
</div>