@font-face {
  font-family: Oxy;
  src: url("../fonts/Oxygen-Regular.ttf") format("truetype");
}
@font-face {
  font-family: OxyB;
  src: url("../fonts/Oxygen-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Pop;
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: PopB;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: CairoB;
  src: url("../fonts/Cairo-Bold.ttf") format("truetype");
}
/* MITHONS */
p, span, li, a, small, strong, input, textarea, select, optgroup, button, ::file-selector-button {
  font-family: Pop;
}
[dir=rtl] p, [dir=rtl] span, [dir=rtl] li, [dir=rtl] a, [dir=rtl] small, [dir=rtl] strong, [dir=rtl] input, [dir=rtl] textarea, [dir=rtl] select, [dir=rtl] optgroup, [dir=rtl] button, [dir=rtl] ::file-selector-button {
  font-family: Cairo;
}

a, button {
  cursor: pointer;
}

h4 {
  font-family: popB;
  font-weight: 700;
  color: #212529;
}

.select-lang {
  position: relative;
}
.select-lang img {
  width: 33px;
}
.select-lang ul.dropdown-menu {
  top: 65px;
  max-width: min-content;
}
.select-lang ul.dropdown-menu li {
  cursor: pointer;
}

.auth-content .select-lang {
  justify-content: end;
  display: flex;
}
[dir=rtl] .auth-content .select-lang {
  justify-content: start;
}
[dir=rtl] .auth-content .select-lang .dropdown-menu {
  right: auto;
}
[dir=rtl] .auth-content .select-lang .dropdown-menu {
  left: -70px;
}

header nav {
  background-color: #003580 !important;
}
header nav.header-navbar {
  border-bottom: none !important;
}
header nav.header-navbar.fixed-top {
  box-shadow: none;
}
header nav.header-navbar.fixed-top.onScroll {
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.44);
}
header nav.header-navbar.fixed-top .navbar-brand .brand-text {
  font-family: Pop;
}
header nav.header-navbar.fixed-top .navbar-container li > * {
  padding: 1rem 0.1rem 1rem 1rem !important;
}
header nav.header-navbar.fixed-top .navbar-container li.isAuth.dropdown-user .avatar {
  border-radius: 50%;
  height: 35px;
  margin: 0 auto;
}
header nav.header-navbar.fixed-top .navbar-container li.isAuth.dropdown-user .avatar i {
  width: 35px;
  height: 35px;
  font-size: 2.4rem;
  top: 5px;
  text-align: center;
}
header nav.header-navbar.fixed-top .navbar-container li.isAuth.dropdown-user .dropdown-menu {
  padding: 0.5rem 0.5rem !important;
}
header nav.header-navbar.fixed-top .navbar-container li.isAuth button {
  background-color: #fff;
  font-weight: 550;
  border-radius: 0;
  color: #0763e6;
  border-color: #0763e6;
  text-transform: capitalize;
}
header nav.nav_bottom .nav-item .nav-link {
  color: #fff;
  font-weight: 550;
  font-family: Pop;
  border-radius: 20px;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  text-shadow: 1px 1px 1px #222;
  box-shadow: -1px -1px 5px 4px rgba(255, 255, 255, 0.1411764706);
  transition: all 1s ease-in-out;
}
header nav.nav_bottom .nav-item .nav-link i {
  margin: auto;
  position: relative;
  top: 1px;
  font-size: 1.7rem;
}
header nav.nav_bottom .nav-item.active .nav-link {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3333333333);
}
header nav.nav_bottom .nav-item:hover .nav-link {
  background-color: rgba(255, 255, 255, 0.3333333333);
}

footer.main-footer .hfooter {
  background-color: #00224f;
}
footer.main-footer .hfooter .tfooter .h3 {
  font-size: 20px;
}
footer.main-footer .hfooter .tfooter p {
  color: #bdbdbd;
}
footer.main-footer .hfooter form {
  text-align: center;
}
footer.main-footer .hfooter form .label {
  padding: 10px;
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: none;
  font-family: Cairo;
  margin: 10px 10px;
}
footer.main-footer .hfooter form .subs {
  width: 115px;
  padding: 0 10px;
  height: 40px;
  border: none;
  border-radius: 2px;
}
footer.main-footer .hfooter form button.bg-primary {
  background-color: #034aae !important;
}
footer.main-footer .botfooter {
  background-color: #003580;
  margin-bottom: 0;
  padding-bottom: 0;
}
footer.main-footer .botfooter .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.main-footer .botfooter .center button {
  background-color: #003580;
  border-color: white;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}
footer.main-footer .botfooter hr {
  color: white;
  margin: 0 0 15px 0;
}

.contravel a {
  text-decoration: none;
}
.contravel a img {
  margin-bottom: 10px;
}
.contravel a h5 {
  font-family: popB;
  font-weight: 700;
  color: #212529;
}
.contravel a span {
  font-family: pop;
  font-weight: 400;
  color: #6b6b6b;
  display: block;
}

/*# sourceMappingURL=root.css.map */
