<div class="container-fluid hfooter">
  <div class="row py-3">
    <div class="col-12">
      <h2 class="h3 text-white text-center m-0 mb-2" [translate]="'foottitle'">
        Save time, save money!
      </h2>
      <p class="text-center" [translate]="'foottitle2'">
        Sign up and we'll send the best deals to you
      </p>
    </div>
    <div class="col-12">
      <div class="container">
        <form action="">
          <input type="text" class="label" placeholder="Your Email" />
          <input
            type="button"
            value="Subscribe"
            class="me-3 text-white bg-primary subs"
            href="#"
          />
        </form>
      </div>
    </div>
  </div>
</div>

