.hfooter {
  background-color: #00224f;
}
.h3 {
  font-size: 20px;
}
p {
  color: #bdbdbd;
}
form {
  text-align: center;
}
.label {
  padding: 10px;
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: none;
  font-family: Cairo;
  margin: 10px 10px;
}
.subs {
  width: 115px;
  padding: 0 10px;
  height: 40px;
  border: none;
  border-radius: 2px;
}
