.top_search_content {
    position: relative;
    top: 55px;

    .row {
        background-color: $_gold;
    }

    input, button {
        width: 100%;
        height: 100%;
        border-radius: 0%;
        padding: .9rem 0;
    }

    button {
        @include one_dir(font-family, CairoB);
    }

    div[class^="col-"] {
        padding: calc($--bs-gutter-x * .2) calc($--bs-gutter-x * .1);

        > div {
            height: 100%;

            .form-control-position {
                line-height: 3.5rem;
            }
        }

        &:first-of-type {
            @include dir(padding-left, calc($--bs-gutter-x * .2), calc($--bs-gutter-x * .2), padding-right);
        }

        &:last-of-type {
            @include dir(padding-right, calc($--bs-gutter-x * .2), calc($--bs-gutter-x * .2), padding-left);
        }
    }

    @media screen and (min-width: 800px) {
        div[class^="col-lg"] {
            &:not(:last-of-type) {
                width: 30%;
            }

            &:last-of-type {
                width: 10%;
            }
        }
    }

    .capcity {
        &.dropdown {
            width: 100%;
            height: 100%;

            > a {
                width: 100%;
                height: 100%;
                align-items: center;
                display: grid;
                background-color: #fff;
                border: none;
                border-radius: 0;
                color: #444;
                text-align: center;
                text-decoration: none;

                &::after {
                    display: block;
                }
            }

            .toggle_menu {
                width: 100%;
                border-radius: 0;
                list-style: none;
                background-color: #fff;
                position: absolute;
                z-index: 1;
                padding: 1rem 1rem;
                margin-top: 5px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                display: none;
                .dropdown-item {
                    cursor: auto;
                    padding: .5rem .5rem;
                }
                &.show{
                    display: block;
                }
            }
        }
    }
}
